<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
  .isChecked {
    color: red;
  }
  
</style>
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <div author="kathy" appGreet='hello word!'>abcd</div>
  <div>
    option 
    <input type="text" [(ngModel)]="searchWord" (ngModelChange)="change($event)">
    <ul>
      <ng-container *ngIf="!searchWord else searchResult">
        <li *ngFor="let option of options"
          [ngClass]="{'isChecked': option.isChecked}" (click)="click(option)">{{option.label}}</li>
      </ng-container>
    </ul>
  </div>
  <div>
    filtered
    <ul>
      <ng-template #searchResult>
        <li *ngFor="let option of filtered"
          [ngClass]="{'isChecked': option.isChecked}"
          (click)="click(option)">{{option.label}}</li>
      </ng-template>
    </ul>
  </div>
</div> -->

<div style="display: flex;">
  <ng-container *ngFor = "let item of totalColors">
    <app-tube [colors]="item" (last)="last($event)"></app-tube>
  </ng-container>
  <app-tube [colors]="[]"></app-tube>
  <app-tube [colors]="[]"></app-tube>
</div>

<router-outlet></router-outlet>
<!-- <ng-template #tpl>
  <span style="color: rebeccapurple;">hello hello</span>
</ng-template>
<ng-template let-message="message" #atpl><p>{{message}}</p></ng-template> 
<ng-template let-msg="message" #btpl><p>{{msg}}</p></ng-template> 
<ng-template let-msg #ctpl><p>{{msg}}</p></ng-template> 
<div [ngTemplateOutlet]="atpl" [ngTemplateOutletContext]="context"></div>
<div [ngTemplateOutlet]="ctpl" [ngTemplateOutletContext]="context"></div> -->